<section id="users-content">
    <h1>Quản Lý Người Dùng</h1>
    <div class="table-wrapper">
        <table class="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Vai Trò</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody id="user-list-body">
                <!-- Dữ liệu người dùng sẽ được JS chèn vào đây -->
            </tbody>
        </table>
    </div>
    <div id="users-pagination-container" class="pagination-container"></div>
</section>